<!DOCTYPE html>

<html>
<head>
    <title>로그인</title>
</head>
<body>
    <h1>로그인 페이지</h1>
    <form action="{% url 'service:map' %}" method="POST">
      {% csrf_token %}

    <form>

        <div class="input-group">
          <span class="input-group-text">아이디 :</span>
          <input type="text" class="form-control" placeholder="id" id="userid">
        </div>

        <div class="input-group">
          <span class="input-group-text">비밀번호 :</span>
          <input type="password" class="form-control" placeholder="password">
        </div>
      
        <!-- <div class="btn-group">
          <button style="float:left"><a class="btn btn-primary" href="{% url 'service:map' %}">확인</a></button>
        </div> -->
        
        
        <div class="btn-group">
          <button style="float:left" type="submit" class="btn btn-primary">확인</button>
        </div> 
       

    </form>
</body>
</html>
