<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
</head>
<body>
    <h1>로그인 페이지</h1>

    <form>
        <!-- 사용자 닉네임 -->
        <div class="input-group">
          <span class="input-group-text">닉네임 :</span>
          <input type="text" class="form-control" placeholder="nickname">
          <button class="btn btn-success" type="button" id="btnIdCheck">중복체크</button>
        </div>
        <!-- 사용자 아이디 -->
        <div class="input-group">
          <span class="input-group-text">아이디 :</span>
          <input type="text" class="form-control" placeholder="id" id="userid">
        </div>
        <!-- 사용자 비밀번호 -->
        <div class="input-group">
          <span class="input-group-text">비밀번호 :</span>
          <input type="password" class="form-control" placeholder="password">
        </div>
        <!-- 사용자 비밀번호 확인 -->
        <div class="input-group">
          <span class="input-group-text">비밀번호 확인 :</span>
          <input type="password" class="form-control" placeholder="passwordcheck">
        </div>
        <!-- 사용자 이메일 -->
        <div class="input-group">
          <span class="input-group-text">이메일 :</span>
          <input type="text" class="form-control" placeholder="email">
        </div>
        <!-- 사용자 전화번호 -->
        <div class="input-group">
          <span class="input-group-text">전화번호 :</span>
          <input type="text" class="form-control" placeholder="phone">
        </div>
      
        <div class="btn-group">
            <button style="float:left"><a class="btn btn-primary" href="map.html">log in</button>
        </div>
    </form>
</body>
</html>
